main.scanner {
	margin: 16px;
	text-align: center;

	p {
		color: white;
	}

	button {
		background: white;
		color: black;
		border-color: white;
		margin: auto;
	}

	>.result {
		p {
			margin-top: 32px;
			padding: 16px;
			color: white;
			font-size: 2rem;
			text-align: center;
			font-weight: bold;


			&.valid {
				background: #00ff0044;
			}

			&.invalid {
				background: #ff000044;
			}

			&.info {
				background: #0000ff44;
			}
		}
	}
}