main.ticket {
	margin: -32px 0 64px 0;
	text-align: center;
	color: white;

	>h4 {
		margin-top: 100px !important;
	}

	>button {
		background: white;
		color: black;
		border-color: white;
		margin: 0 0 32px 0 !important;
	}

	>img {
		display: block;
		max-width: 100%;
		margin: 32px auto;
		box-shadow:
			0 0 16px 4px #ffffff22,
			0 0 24px 2px #ffffff22,
			0 0 32px 0px #ff00ff44;
	}

	>#qr {
		margin: auto;
		max-width: 500px;
		padding: 1.5rem;
		background: white;
		transform: translateY(-2000px);
		>img {
			width: 100%;
		}
	}

	>.poms {
		img {
			position: fixed;
			top: min(300px, 35vw);
			left: calc(50vw - 100px);
			width: 200px;
			z-index: 1000;
			opacity: 0;
			transform: scale(0, 0);
		}
	}
}

@media only screen and (min-device-width: 550px) {
	main.ticket {
		img {
			max-width: 500px;
		}
	}
}