* {
    box-sizing: border-box;
}

img {
    width: 100%;
}

body {
    margin: 0;
}

h1, h2, h3, h4 {
    margin: 0 0 16px 0 !important;
}

a, a:hover, a:visited, a:focus {
    text-decoration: none;
}

p {
    word-break: break-all;
}

hr {
    margin: 8px 0;
}

button {
    border-radius: 0;
    height: 44px;
    padding: 4px 8px;
}

main {
	margin-top: 64px;
    margin-left: 0;
    padding: 16px;
}

.key-row {
    margin-bottom: 16px;
}

.message {
    position: fixed;
    top: 8px;
    left: 8px;
    width: calc(100% - 16px);
    animation: slide 0.32s ease-out;
    display: flex;
    > div {
        margin:auto;
        width: calc(100% - 16px);
        max-width: 500px;
        padding: 16px;
        background: white;
        border: 1px solid #ddd;
        box-shadow: 0 0 32px 24px white;
    }
}

.footer {
    margin-top: 64px;
    text-align: center;
    > img {
        width: 100px;
    }
}

@keyframes slide {
    0% {
        transform: translateY(-100px)
    }
    100% {
        transform: translateY(0)
    }
}

.button-warning, .button-warning:hover {
    border-color: #ec2046;
    border-width: 2px;
    color: #bb2836;
    &:hover {
        border-color: #bb2836;
    }
}

.spacer {
    margin-bottom: 16px;
}

.grid.sm {
    row-gap: 8px;
    grid-template-columns: 50% 50%;
    margin-right: 16px;
    p, button {
        margin-bottom: 0;
    }
}

#file-btn {
    display: none;
}

/// not mobile
@media only screen and (min-device-width: 550px) {
    .columns:nth-child(odd) {
        margin-left: 0;
    }
    main {
        margin-left: 256px;
    }
}